.profile-detail-box {
    display: flex;
    justify-content: center;
    margin: 24px;

    padding: 24px;
}

.profile-detail-photo {
    width: 360px;
}

.profile-detail-input {
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    outline: none;
}

.profile-detail-input:focus {
    outline: none;
}

.profile-detail-btn {
    display: flex;
    justify-content: center;
}

.profile-detail-btn input {
    background-color: rgb(214, 214, 214);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    margin-right: 8px;
    color: black;
    padding: 4px 12px;
}

.profile-detail-btn input:hover {
    background-color: rgb(161, 161, 161);
}

.profile-detail-btn a {
    background-color: rgb(214, 214, 214);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    text-decoration: none;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    margin-left: 8px;
    box-sizing: border-box;
    color: black;
    padding: 4px 12px;
}

.profile-detail-btn a:hover {
    background-color: rgb(161, 161, 161);
}