.profile-box {
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: flex-start;
    border-left: 1px solid rgb(219, 219, 219);
}

.detail-box {
    margin: 24px;
    padding: 8px;
}

.photo-box {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    
    width: 220px;
    
}

.photo-box img {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
    border-radius: 8px;
}

.profile-contents {
    margin-top: 12px;
}

.profile-contents2 {
    margin-top: 24px;
    display: flex;
    justify-content: right;
}

.profile-contents2 a {
    margin-top: 12px;
    background-color: rgb(214, 214, 214);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    text-decoration: none;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    box-sizing: border-box;
    color: black;
    padding: 4px 12px;

}


@media screen and (max-width: 1080px) {
    .profile-box {
        display: none;
    }
}