body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  direction: ltr;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(0, 55, 107);
}

.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 50px;
}

.post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font: inherit;
  font-size: 100%;
  position: relative;
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  vertical-align: baseline;
}

#post-main {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: static;
  box-sizing: border-box;
  overflow: visible;
}

#post-main2 {
  width: 100%;
  max-width: 470px;
}

#post-main3 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  margin-top: 16px;
  overflow: visible;
}

#post-main4 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#post-form2 {
  margin-bottom: 12px;
  padding-bottom: 20px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(219, 219, 219);
}

#post-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  overflow: visible;
}

#post-create-user {
  border-radius: 8px;
  border-bottom: none;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
}

#post-user {
  margin: 8px 4px 8px 5px;
  padding: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: calc(100% - 48px);
  position: relative;
}

.profile-user-photo a {
  position: absolute;
  width: 42px;
  height: 42px;
}

.head-main-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}

.edit-del {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.edit-del-btn {
  margin: 4px;
  padding-left: 4px;
}

.photo2 {
  background-color: rgb(250, 250, 250);
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: block;
}

.profile-user-photo a img {
  vertical-align: baseline;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-name {
  display: flex;
}

.profile-username {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  font: inherit;
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 2px;
  position: relative;
  top: 1px;
  vertical-align: baseline;
}

.profile-at {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  overflow: visible;
  font-size: 14px;
}

.profile-at span {
  margin-left: 4px;
  margin-right: 4px;
  color: rgb(115, 115, 115);
  display: inline;
  line-height: 18px;
  word-wrap: break-word;
  white-space: pre-line;
  word-wrap: break-word;
}

.post-image1 {
  margin-top: 6px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
}

.post-image2 {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  vertical-align: baseline;
}

.comment-box1 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-self: auto;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

.comment-box2 {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
  border-radius: 8px;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.like-i {
  display: flex;
  flex-direction: row;
  overflow: visible;
  margin-top: 4px;
  padding: 0;
}

.like-i2 {
  display: inline-block;
}

.like-i3 {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 0;
}

.bi-heart2 {
  align-items: center;
  display: flex;
  justify-content: center;
  animation-duration: 0.45s;
  animation-name: like-button-animation;
  animation-timing-function: ease-in-out;
  transform: scale(1);
}

.bi-heart2 svg {
  display: block;
  position: relative;
  height: 24;
  width: 24;

  overflow: hidden;
}

.count-like {
  display: flex;
  margin-bottom: 8px;
  overflow: visible;
  padding-left: 0;
  padding-right: 0;
}

.count-like2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  align-self: auto;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  margin: auto;
}

.count-like3 {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  max-width: 100%;
  white-space: pre-line;
}

.post-caption-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  position: relative;
  margin: 0 0 auto;
}

.post-caption1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  position: relative;
}

.post-author-name2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-shrink: 0;
  align-self: auto;
  justify-content: flex-start;
  margin-bottom: 8px;
  flex-grow: 0;
}

.post-author-name3 {
  display: inline;
}

.post-author-name3 a {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.conntent-box {
  display: flex;
  justify-content: space-between;
}

.caption-coment {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}

.comment-box3 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 8px;
  position: relative;
  overflow: visible;
}

.post-author-name4 a {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.caption-coment2 {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(120, 120, 120);
}

.comment-input {
  border: none;
  padding: 0;
  margin-top: 4px;
  height: 18px;
}

.comment-input2 {
  display: block;
  height: 18px;
}

.input-comment {
  display: flex;
  flex-direction: row;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.input-comment2 {
  resize: none;
  width: 0;
  max-height: 80px;
  display: flex;
  flex-grow: 1;
  outline: none;
  color: rgb(120, 120, 120);
  border: none;
  font-family: inherit;
  padding: 0;
  box-sizing: border-box;
}

.caption-contents {
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
}

.write-post-back {
  display: flex;
  justify-content: right;
}

.write-post-back a {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  margin-left: 8px;
}

.write-post-back a:hover {
  background-color: #0b5ed7;
  color: #fff;
}


.tag_button {
  display:flex;
  flex-direction: row;
}