{% load static %}

<aside class="left-aside">
    <div class="aside-box">
        <div class="nav-box">
            <div class="logo-bax">
                <div class="logo">
                    <a><img src="{% static 'images/post/mainlogo.png' %}" alt="logo" /></a>
                </div>
            </div>
            <div>
                <div class="menu-box">
                    <div class="nav-content">
                        <a href="{% url 'post:feed' %}">
                            <div class="nav-content2">
                                <div class="nav-content-icon">
                                    <svg aria-label="홈" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img"
                                        viewBox="0 0 24 24" width="24">
                                        <path
                                            d="M22 23h-6.001a1 1 0 0 1-1-1v-5.455a2.997 2.997 0 1 0-5.993 0V22a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V11.543a1.002 1.002 0 0 1 .31-.724l10-9.543a1.001 1.001 0 0 1 1.38 0l10 9.543a1.002 1.002 0 0 1 .31.724V22a1 1 0 0 1-1 1Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="nav-content-name">홈</div>
                            </div>
                        </a>
                    </div>
                    <div class="nav-content">
                        <a href="{% url 'user:profile-detail' %}">
                            <div class="nav-content2">
                                <div class="nav-content-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(0, 0, 0)"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </div>
                                <div class="nav-content-name">마이페이지</div>
                            </div>
                        </a>
                    </div>
                    <div class="nav-content">
                        <a href="{% url 'post:write-post' %}">
                            <div class="nav-content2">
                                <div class="nav-content-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(0, 0, 0)"
                                        class="bi bi-file-word" viewBox="0 0 16 16">
                                        <path
                                            d="M4.879 4.515a.5.5 0 0 1 .606.364l1.036 4.144.997-3.655a.5.5 0 0 1 .964 0l.997 3.655 1.036-4.144a.5.5 0 0 1 .97.242l-1.5 6a.5.5 0 0 1-.967.01L8 7.402l-1.018 3.73a.5.5 0 0 1-.967-.01l-1.5-6a.5.5 0 0 1 .364-.606z" />
                                        <path
                                            d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                    </svg>
                                </div>
                                <div class="nav-content-name">글쓰기</div>
                            </div>
                        </a>
                    </div>
                    <div class="nav-content">
                        <div class="nav-content2">
                            <div class="nav-content-icon">
                                <svg aria-label="검색" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"></path>
                                    <line fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511"
                                        y2="22"></line>
                                </svg>
                            </div>
                            <div class="nav-content-name">
                                <form action="{% url 'post:post_search' %}" class="search" method="GET">
                                    <input aria-label="검색" autocapitalize="none" class="search" placeholder="검색" type="text" name="q">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="nav-content">
                        <a href="{% url 'user:logout' %}">
                            <div class="nav-content2">
                                <div class="nav-content-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(0, 0, 0)"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </div>
                                <div class="nav-content-name">로그아웃</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>