{% extends "post/base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="container timeline-container">
        <div class="d-flex justify-content-center">
            <div class="col-md-7">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">당신의 일상을 공유해 보세요</h5>
                                        <form action="{% url 'post:write-post' %}" method="POST"
                                            enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <div class="write-post-back">
                                                {% if edit %}
                                                <input type="submit" class="btn btn-primary" style="float:right;"
                                                    value="수정하기">
                                                {% else %}
                                                <input type="submit" class="btn btn-primary" style="float:right;"
                                                    value="작성하기">
                                                {% endif %}
                                                <a href="{% url 'post:feed' %}">뒤로가기</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% endblock content %}