{% extends "post/base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="container timeline-container">
        <div class="d-flex justify-content-center">
            <div class="col-md-7">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">당신의 일상을 공유해 보세요</h5>
                                        <p>
                                            {% if edit %}
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input action="/post/post-detail/{{ post.id }}" type="submit"
                                                class="btn btn-primary" style="float:right;" value="수정하기">
                                            <a href="{% url 'post:feed' %}">뒤로가기</a>
                                        </form>
                                        {% else %}
                                        <form action="{% url 'post:write-post' %}" method="POST"
                                            enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" class="btn btn-primary" style="float:right;"
                                                value="작성하기">
                                            <a href="{% url 'post:feed' %}">뒤로가기</a>
                                        </form>
                                        {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% endblock content %}