{% extends "post/base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="container timeline-container">
        <div class="d-flex justify-content-center">
            <div class="col-md-7">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">나의 이야기를 적어주세요</h5>
                                        <p>
                                        <form action="{% url 'post:write-post' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}

                                            <input type="submit" class="btn btn-primary" style="float:right;" value="작성하기">
                                            <a href="">뒤로가기</a>
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}