{% extends "user/base.html" %} {% block title %}메인 로그인{% endblock title %}
{% block content %}

<div class="text-center">
  <!-- 구성화면 -->
  <div id="container">
    <div id="borderBox">
      <!-- 로그인 박스 -->
      <div class="loginBox">
        <!-- 대문이름 -->
        <div id="logo">
          <a href="#">Django Project</a>
        </div>
        <!-- 로그인폼 -->
        <div id="login_text">
          <form action="{% url 'user:main' %}" method="POST" id="loginForm">
            {% csrf_token %}
            <!-- 아이디 입력창 -->
            <div class="input-aria">
              <div class="input-info">
                <input type="input" name="username" placeholder="사용자 이름" class="get-input">
              </div>
            </div>
            <!-- 비밀번호 입력창 -->
            <div class="input-aria">
              <div class="input-info">
                <input type="password" name="password" placeholder="비밀번호" class="get-input">
              </div>
            </div>
            <!-- 로그인버튼 -->
            <div id="btnStyle">
              <button type="submit" id="btnStyle2">
                <div id="btnStyle3">로그인</div>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- 회원가입 링크 박스 -->
      <div class="loginBox">
        <span>
          <p id="signup-p">
            계정이 없으신가요?
            <a href="{% url 'user:signup' %}" role="link" tabindex="0"
              >가입하기</a
            >
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
