<!DOCTYPE html>
<html>
    <head>
        <title>프로필 수정</title>
    </head>
    <body>
        <h1>프로필 수정</h1>
        <form id="profile-form">
            <label for="username">사용자 이름:</label>
            <input type="text" id="username" name="username"><br>
            <label for="passward">암호:</label>
            <input type="password" id="passward" name="passward"><br>
            <label for="email">이메일 주소:</label>
            <input type="email" id="email" name="email"><br>
            <input type="submit" value="저장">
        </form>
</body>
</html>            
