{% load static %}

<div class="profile-box">
    <div class="detail-box">
        <!-- 프로필 사진 -->
        {% if user.profile_photo %}
        <div class="photo-box">
            <img src="{{ user.profile_photo.url }}" alt="profile_photo">
        </div>
        {% else %}
        <div class="photo-box">
            <img src="{% static 'images/post/noavatar.png' %}" alt="profile_photo">
        </div>
        {% endif %}
        <!-- 성명 -->
        <div class="profile-contents">
            이&nbsp;&nbsp;&nbsp;름 : {{ user.name }}
        </div>
        <div class="profile-contents">
            아이디 : {{ user.username }}
        </div>
        <div class="profile-contents">
            닉네임 : {{ user.user_name }}
        </div>
        <div class="profile-contents">
            소&nbsp;&nbsp;&nbsp;개 : {{ user.bio }}
        </div>
        <div class="profile-contents">
            이메일 : {{ user.email }}
        </div>
        <div class="profile-contents2">
            <a href="{% url 'user:edit-profile' user.id %}">
                수정하기
            </a>
        </div>
    </div>
</div>